<div class="navbar">
    <div class="navbar-left">
        JONES Arc.
    </div>
    <div class="navbar-right">
      <input type="text" class="form-control" placeholder="Search projects" style="border: 1px solid rgb(131, 131, 131);">
      <div class="m-1"></div>
      <span class="material-symbols-outlined" style="color: red;">help</span>
      <div class="m-1"></div>
      <span class="material-symbols-outlined" style="color: rgba(0, 0, 0, 0.321);">pace</span>
      <img  src="https://xsgames.co/randomusers/avatar.php?g=female"alt="Profile Image">
      <span>Matilda</span>
    </div>
  </div>
  